@import '../../index.scss';
.formcolor{
    background-color: #32383e;
}
.inputbg{
    background-color:#1c1e22 !important;
    color: white !important;
}
a{
    cursor: pointer;
    color: #4799eb !important;
}